h1 {
  font-size: 32px;
  font-weight: 800;
  line-height: 36px;
  color: $darkest-gray;
  margin-bottom: 12px;
}

h2 {
  font-size: 24px;
  font-weight: 700;
  color: $dark-gray;
  margin-bottom: 12px;
}

h3 {
  font-size: 20px;
  font-weight: 700;
  color: $dark-gray;
  margin-bottom: 12px;
}

p {
  font-size: 16px;
  color: $dark-gray;
}

a {
  text-decoration: none;
}
