/* Fonts */
$base-font: -apple-system, BlinkMacSystemFont, Lato, "Segoe UI", Verdana, Arial, sans-serif;

/* Colors */
$darkest-gray: #212529;
$dark-gray: #495057;
$gray: #adb5bd;
$light-gray: #e1e5e8;
$lightest-gray: #f1f3f5;

$blue: rgb(0, 81, 255);
